ios/**               linguist-vendored
android/**           linguist-vendored
**/*.cpp             linguist-vendored
**/*.cc              linguist-vendored
**/*.cxx             linguist-vendored
**/*.c               linguist-vendored
**/*.h               linguist-vendored
**/*.hpp             linguist-vendored
**/*.mm              linguist-vendored
**/*.m               linguist-vendored
**/*.swift           linguist-vendored
CMakeLists.txt       linguist-vendored
**/*.cmake           linguist-vendored
cmake/**             linguist-vendored
web/**               linguist-vendored
**/*.html            linguist-vendored
**/*.css             linguist-vendored
**/*.js              linguist-vendored
**/*.ts              linguist-vendored
**/*.md              linguist-vendored
**/*.json            linguist-vendored
**/*.yml             linguist-vendored
**/*.yaml            linguist-vendored
**/*.pbxproj         linguist-generated
**/*.xib             linguist-generated
**/*.storyboard      linguist-generated
**/*.xcassets/**     linguist-vendored
*.go                 linguist-detectable=true
*.go                 linguist-language=Go
